html
    head
        title="Index del proyecto"
    body
        h1='Seleccione la query que desee probar'
        each val in ['1', '2']
            a(href='/'+val, target="_blank", rel="noopener noreferrer") Query #{val}  <br />